/* Desenvolvido por (Developed by / 開發者) Felipe Ferreira (f3cdde) */

/* Estilos globais para o corpo da página */
body {
    display: flex; /* Define um layout flexível */
    flex-direction: column; /* Alinha os itens em uma coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin: 0; /* Remove a margem padrão */
    font-family: Arial, sans-serif; /* Define a fonte padrão */
}

/* Estilos para a barra de navegação */
.navbar {
    width: 100%; /* Define a largura total da barra de navegação */
    background-color: #333; /* Define a cor de fundo */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa os limites */
}

/* Estilos para os links na barra de navegação */
.navbar a {
    float: left; /* Alinha os links à esquerda */
    display: block; /* Define o link como um bloco */
    color: #f2f2f2; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 14px 16px; /* Adiciona espaçamento interno */
    text-decoration: none; /* Remove a sublinha dos links */
}

/* Estilos para os links na barra de navegação ao passar o mouse */
.navbar a:hover {
    background-color: #ddd; /* Muda a cor de fundo ao passar o mouse */
    color: black; /* Muda a cor do texto ao passar o mouse */
}

/* Estilos para o contêiner principal */
.container {
    width: 80%; /* Define a largura do contêiner */
    max-width: 800px; /* Define a largura máxima do contêiner */
    margin: 20px auto; /* Adiciona margem superior/inferior e centraliza horizontalmente */
    padding: 20px; /* Adiciona espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao redor do contêiner */
    background-color: #fff; /* Define a cor de fundo do contêiner */
    overflow: hidden; /* Isso garante que o conteúdo não escape do container */
}

/* CSS para redimensionar imagens e vídeos */
.post-img {
    max-width: 100%; /* Limita a largura máxima ao tamanho do container */
    height: auto;    /* Mantém a proporção */
    position: center;
}

.post-video {
    max-width: 100%; /* Limita a largura máxima ao tamanho do container */
    height: auto;    /* Mantém a proporção */
    position: center;
}

.post-audio {
    max-width: 100%; /* Limita a largura máxima ao tamanho do container */
    height: auto;    /* Mantém a proporção */
    position: center;
}

.notification-count {
    background-color: red; /* Cor de fundo do contador */
    color: white; /* Cor do texto */
    border-radius: 50%; /* Formato redondo */
    padding: 5px 10px; /* Espaçamento interno */
    position: absolute; /* Para posicionamento em relação ao ícone */
    top: 0; /* Alinhar ao topo */
    right: 0; /* Alinhar à direita */
    font-size: 12px; /* Tamanho da fonte */
}

/* Botões */
.button-container {
    display: flex;
    align-items: center; /* Alinha os itens no centro verticalmente */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    margin-top: 10px; /* Espaço acima do botão */
}

.button-like, .button-delete, .comment-button {
    background-color: transparent; /* Fundo transparente */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
}

.button-like:hover, .comment-button:hover {
    color: white; /* Mantém a cor branca ao passar o mouse */
}

.comment-button {
    background-color: #333; /* Cor de fundo do botão Send */
    color: white; /* Cor do texto do botão Send */
}

.button-delete {
    background-color: transparent; /* Fundo transparente */
    color: #b22222; /* Cor da fonte vermelha */
    padding: 5px 10px; /* Espaçamento do botão delete */
    margin-left: 10px; /* Espaçamento entre like e delete */
}

.button-delete:hover {
    background-color: white; /* Fundo branco ao passar o mouse */
    color: #b22222; /* Cor da fonte permanece vermelha */
    border: 1px solid #b22222; /* Borda vermelha ao passar o mouse */
}

.likes-count {
    margin-left: 5px; /* Espaço entre o coração e a contagem de likes */
}

/* Centralizar a frase "Posted by ..." */
small {
    display: block; /* Cada frase ocupa uma nova linha */
    text-align: center; /* Centraliza o texto */
    margin-top: 5px; /* Espaço acima da frase */
}
