{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Posts</h1>
    {% for post in posts %}
        <article>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>

            {% if post.image_file %}
                <img src="{{ url_for('static', filename='post_pics/' ~ post.image_file) }}" class="post-img" alt="Post Image">
            {% endif %}
            
            {% if post.audio_file %}
                <audio controls>
                    <source src="{{ url_for('static', filename='post_audios/' ~ post.audio_file) }}" class="post-audio" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            {% endif %}
            
            {% if post.video_file %}
                <video controls class="post-video">
                    <source src="{{ url_for('static', filename='post_videos/' ~ post.video_file) }}" class="post-video" type="video/mp4">
                    Your browser does not support the video element.
                </video>
            {% endif %}
            
            <small>Posted by {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</small>

            <!-- Botões de curtir e deletar -->
            <div class="button-container">
                <button class="button-like" data-post-id="{{ post.id }}">
                    {% if post.likes_count > 0 %}
                        <span class="heart-filled">&#10084;</span> <!-- Coração preenchido -->
                    {% else %}
                        <span class="heart-empty">&#9825;</span> <!-- Coração vazio -->
                    {% endif %}
                </button>
                <span class="likes-count" id="like-count-{{ post.id }}">{{ post.likes_count }}</span>

                {% if post.author == current_user %}
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" class="delete-form">
                        <button type="submit" class="button-delete">Delete</button>
                    </form>
                {% endif %}
            </div>


            <h4>Comments:</h4>
            <form action="{{ url_for('comment_post', post_id=post.id) }}" method="POST" class="comment-form">
                <textarea name="body" required placeholder="Write your comment here..." class="comment-textarea"></textarea>
                <button type="submit" class="comment-button">Send</button>
            </form>
                        
            <div class="comments">
                {% for comment in post.comments %}
                    <p><strong>{{ comment.user.username }}:</strong> {{ comment.body }}</p>
                {% else %}
                    <p>No comments yet.</p>
                {% endfor %}
            </div>
        </article>
        <hr>
    {% endfor %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

<script></script>