<!-- Desenvolvido por (Developed by / 開發者) Felipe Ferreira (f3cdde) -->

{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <!-- Formulário de registro -->
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <!-- Campo de nome de usuário -->
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            <!-- Exibição de erros de validação para o campo de nome de usuário -->
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Campo de email -->
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            <!-- Exibição de erros de validação para o campo de email -->
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Campo de senha -->
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            <!-- Exibição de erros de validação para o campo de senha -->
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Campo de confirmação de senha -->
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            <!-- Exibição de erros de validação para o campo de confirmação de senha -->
            {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>

        <!-- Botão de envio do formulário -->
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
